<div class="w-full p-4 mb-4 min-h-screen" style="background: #12151b url('<%= asset_path('blog-bg.jpg') %>') no-repeat center center fixed; background-size: cover;">
  <div class="flex items-center justify-center py-4 md:py-8 flex-wrap gap-2">
    <% if current_user&.admin? %>
      <div class="flex justify-start w-full">
        <%= link_to "Nova sortida", new_sortide_path, class: "rounded-lg py-2 px-3 bg-yellow-200 font-bold border border-lime-600 hover:bg-yellow-300 hover:font-extrabold text-sm block" %>
      </div>
      <div class="flex justify-start w-full mt-2">
        <% if params[:show_unapproved] %>
          <%= link_to "Mostrar només sortides aprovades", sortides_path, class: "rounded-lg py-2 px-3 bg-red-200 font-bold border border-red-600 hover:bg-red-300 hover:font-extrabold text-sm block" %>
        <% else %>
          <%= link_to "Mostrar totes les sortides (incloent no aprovades)", sortides_path(show_unapproved: true), class: "rounded-lg py-2 px-3 bg-green-200 font-bold border border-green-600 hover:bg-green-300 hover:font-extrabold text-sm block" %>
        <% end %>
      </div>
    <% end %>
    <%= form_with url: sortides_path, method: :get, local: true, class: "flex space-x-4" do %>
      <div class="flex">
        <label for="category_id" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Categoria</label>
        <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name, params[:category_id]), prompt: "Totes categories", class: "shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-hidden focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" %>
      </div>
      <div class="flex">
        <label for="tipu_id" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Tipus</label>
        <%= select_tag :tipu_id, options_from_collection_for_select(Tipu.all, :id, :name, params[:tipu_id]), prompt: "Tot tipus", class: "shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-hidden focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" %>
      </div>
      <div class="flex">
        <label for="ritme_id" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Ritme</label>
        <%= select_tag :ritme_id, options_from_collection_for_select(Ritme.all, :id, :name, params[:ritme_id]), prompt: "Tots ritmes", class: "shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-hidden focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" %>
      </div>
      <% if current_user %>
        <%= submit_tag "Filtre", class: "rounded-lg py-2 px-3 bg-yellow-200 font-bold border border-lime-600 hover:bg-yellow-300 hover:font-extrabold text-sm block" %>
      <% else %>
        <%= button_tag type: 'button', class: "rounded-lg py-2 px-3 bg-yellow-200 font-bold border border-lime-600 hover:bg-yellow-300 hover:font-extrabold text-sm block", onclick: "alert('This feature is only available for registered users.')" do %>
          Filtre
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 m-6 pt-4'>
    <% @sortides.each do |sortide| %>
      <div class="h-auto max-w-sm rounded-xs">
        <%= link_to sortide_path(sortide) do %>
          <div class="px-2 mt-12 bg-white shadow-lg">
            <% if current_user&.admin? && sortide.approved.nil? %>
              <div class="bg-red-100 border border-red-400 text-red-700 px-2 py-1 rounded relative mb-2" role="alert">
                <span class="block sm:inline text-xs">Pendent d'aprovació</span>
              </div>
            <% end %>
            <p class="text-sm font-bold py-1">
              <small><%= formatted_date(sortide.start_date) %></small>
            </p>
            <p class="text-xsm font-bold pb-1">
              <%= truncate(sortide.title, length: 50) %>
            </p>
            <div class="flex justify-between text-2xs py-1 leading-tight">
              <% if sortide.sortideclass.present? && sortide.sortideclass.tipu.present? %>
                <span class="text-teal-700">
                  <%= sortide.sortideclass.tipu.name %>
                </span>
              <% end %>
              <span class="text-gray-700 font-semi bold">
                Inscrits: <%= sortide.inscripcios.count %>
              </span>
            </div>
            <p class="text-2xs py-1 pb-4">
              <span class="block font-semi bold">Punt de trobada: 
                <%= sortide.start_time.strftime("%H:%M") %> a <%= sortide.start_point %>
              </span>
            </p>
          </div>
          <figure class="relative">
            <%= image_tag(sortide.ruta_foto, class: "h-auto max-w-full") if sortide.ruta_foto.attached? %>
          </figure>
        <% end %><!-- ./link_to -->
      </div>
    <% end %>
  </div>
</div>