<div class="mx-auto bg-teal-600 flex items-center justify-center px-8 py-32">
  <div class="flex flex-col w-full bg-white rounded-xs shadow-lg sm:w-5/6 md:w-4/5 lg:w-3/4 xl:2/3">
    <!--<div class="w-full h-64 bg-top bg-cover rounded-t" style="background-image: url(https://MilRevolts.cat/assets/web/Patxi_Borredà_1000.jpg)"></div>-->
    <div class="flex flex-col w-full md:flex-row">
      <div class="flex flex-row justify-around p-4 font-bold leading-none text-teal-100 uppercase bg-teal-500 rounded-xs md:flex-col md:items-center md:justify-center sm:w-1/3 md:w-1/4">
        <div class="sm:text-base md:text-2xl"><%= Time.now.strftime("%d/%m/%Y %H:%M") %></div>
      </div>
      <div class="p-4 font-normal text-teal-800 sm:w-5/6 md:w-4/5 lg:3/4 xl:2/3 bg-teal-100">
        <h1 class="mb-4 sm:text-xl md:text-xl lg:text-2xl font-semibold leading-none tracking-tight text-teal-800">
          Gràcies <b><i><%= params[:nom] %> <%= params[:moto_model] %> <%= params[:municipi] %></b></i> per registrar-te!</h1>
        <p class="leading-normal">
          Desprès de verificar el teu compte l'activarem!
        </p>
        <div class="flex flex-row items-center mt-4 text-teal-700">
          <div class="w-1/2 font-bold">
            Motos.cat Sortides en moto del grup motorista 'Mil Revolts'
          </div>
          <div class="w-1/2 flex justify-end">
            <%= image_tag("MilRevolts200x200.png", size:"40x40", style:'float-right;')  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>