<!--<iframe src="https://milrevolts.cat/portada.html" width="100%" height="100vh" style="border:none;"></iframe>-->
<section class="bglime-50 py-8 text-lime-600 leading-snug">
  <p class="text-2xl font-bold my-6 text-center"><%= image_tag 'Motos.Cat.png', size:'100x40', class:'inline-block mb-2 mr-2' %>Organització de sortides en moto i l'orquestració de motoristes. </p>
  <p class="text-lg my-3 mb-4 text-center italic"><i class="fas fa-cube mr-4 text-teal017 shadow-2xs text-4xl"></i>Motos.cat La plataforma digital del club motorista "Mil Revolts"
  </p>
  <hr class='teal-400-1 m-8'/>
  <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-6 ml-4 p-4 mb-4">
    <div>
      <p class="title-icon-1"><%= image_tag 'icons/whatsapp-svgrepo-com lime2.svg', size:'45x45', class:'inline-block mb-2 mr-2' %><b> Grups de WHATSAPP</b></p>
      <p class='p-3 leading-relaxed'>
        La plataforma Motos.cat ofereix una àmplia gamma de canals d'informació i comunicació per als seus membres. A més de les funcionalitats del lloc web, disposem de diversos grups de WhatsApp dissenyats per optimitzar la comunicació en diferents àmbits. Aquests grups inclouen:
        <ul class="list-disc ml-4 pl-5 mb-4">
          <li><b>Tauler d'Anuncis:</b> Un grup unidireccional on es publiquen les sortides setmanals, accessible per a tots els membres.</li>
          <li><b>Grup de Socis Motoristes:</b> Un espai per a preguntes, respostes, benvingudes i discussions sobre temes importants del grup. Es fomenta el silenci per mantenir l'eficiència, donada la seva gran mida.</li>
          <li><b>Grups Temporals per Sortida:</b> Creats específicament per a cada sortida, aquests grups faciliten la comunicació entre els motoristes participants.</li>
        </ul>
        Aquests grups estan dissenyats per millorar l'experiència de comunicació i assegurar que tots els membres estiguin ben informats i connectats.
      </p>
      <hr class='border-lime-600 m-4'/>
    </div>
    <div>
      <p class="title-icon-1"><%= image_tag 'icons/circle-user-svgrepo-com lime2.svg', size:'45x45', class:'inline-block mb-2 mr-2' %><b> Xarxes Socials</b></p>
      <ul class="list-disc mb-6 leading-relaxed">
        <li class="mt-2 inline-block mr-2 md:block md:mr-0">
          <a class="no-underline hover:underline text-lime-700 hover:text-lime-900" title="Youtube.com MilRevolts Channel" target="_blank" href="https://www.youtube.com/channel/UCRJZD9nCc7jiMkrT8VDoS5Q"> <b>YOUTUBE:</b></a> publicació de vídeos de les sortides i filmacions en marxa. A la vídeoteca hi han, ara a la tardor del 2024, més de 700 vídeos, públics i privats, uns 100 subscriptors, més de 10.000 visites i 1000 hores de visió.</a></li>
      <li class="mt-2 inline-block mr-2 md:block md:mr-0">
        <a class="no-underline hover:underline text-lime-700 hover:text-lime-900" title="Telegram MilRevolts" target="_blank" href="https://www.instagram.com/milrevoltslife/"><b>INSTAGRAM:</b></a> publicació de fotos de la sortida,  curts vídeos i curtes cròniques. Ara a la tardor del 2024 té uns 300 vídeos, un de cadascuna de les sortides, i uns 150 seguidors.</a></li>
    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
      <a class="no-underline hover:underline text-lime-700 hover:text-lime-900" title="Telegram Mil Revolts Channel" target="_blank" href="https://t.me/milrevolts"><b>TELEGRAM:</b></a> missatgeria més secreta i segura. Ara al 2020 té més de 40 membres i 8 publicacions.</a></li>
  <li class="mt-2 inline-block mr-2 md:block md:mr-0">
    <a class="no-underline hover:underline text-lime-700 hover:text-lime-900" title="Facebooevolts page" target="_blank" href="https://www.facebook.com/pages/milrevolts"><b>FACEBOOK:</b></a> grup per a publicar fotos i vídeos. Ara té uns 100 membres.</a></li>
<li class="mt-2 inline-block mr-2 md:block md:mr-0">
  <a class="no-underline hover:underline text-lime-700 hover:text-lime-900" title="Facebook Mil Revolts page" target="_blank" href="https://www.facebook.com/groups/368046930638430"><b>FACEBOOK:</b></a> pàgina per a publicar fotos i vídeos.</li>
</ul>
<hr class='border-lime-600 m-4'/>
</div>
<div>
  <p class="title-icon-1 my-6"><i class='fas fa-comments mr-2 text-4xl'></i><b>El fòrum o tauler de missatges</b></p>
  <p class="leading-relaxed mb-6">
    <a href='/forums'>El fòrum o tauler de missatges</a> és el lloc de discussió en línia on nosaltres, els membres del grup motorista 'Mil Revolts', podem mantenir converses en forma missatges publicats. Aquest es diferencia de les 'sales de xat' en què els missatges solen ser més llargs que una línia de text i estan arxivats temporalment.<br/>
    El fòrum de discussió conté una sèrie de sis sub-forums, a més del calaix de sastre 'Altres', cadascun dels quals pot tenir diversos temes. Dins de cada tema, cada nova discussió s'ha iniciat i s'anomena "thread o fil" i pot respondre a tantes persones com així ho desitgin.<br/>
    Restricció: Només es permeten participar (llegir els missatges i contestar) els usuaris registrats a 'MilRevolts.life', desprès d'iniciar sessió per llegir-os completament i publicar nous missatges.<br/>
    Flexibilitat per a així facilitar la participació de tots els membres.: <br/>
    Els autors d'un debat poden editar-lo, donar-l'hi format i esborrar-lo. <br/>
    Els autors d'una resposta poden editar-la i esborrar-la.<br/>
    <br/>
    <%= link_to 'Participa fent les teves aportacions!', '/forums', class:'font-bold italic text-teal017' %>
  </p>
  <hr class='border-lime-600 m-4'/>
</div>
<div>
  <p class="title-icon-1 my-6"><i class="fas fa-bullhorn mr-3 text-4xl text-teal017"></i><b>El noticiari mensual!</b></p>
  <p class="leading-relaxed mb-6"> Complementària i adicionalment al lloc web, als grups de WHATSAPP i a les xarxes socials, s'afegeix als canals de comunicació, el noticiari mensual que per correu electrònic, informa de les notícies i anuncis més importants a tots els motoristes subscrits que al 2024 són més de 250.
  </p>
  <hr class='border-lime-600 m-4'/>
</div>
<div>
  <p class="title-icon-1 my-6"><i class="fas fa-shopping-cart mr-3 text-3xl text-teal017"></i><b>La botiga</b></p>
  <p class="leading-relaxed mb-6"> De moment, comencem disposant de nous productes personalitzats: la samarreta de maniga curta de cotó, la dessuadora, el polo, l'impermeable, els buffs d'estiu i hivern, la gorra, el brodat i l'adhessiu.<BR/>
    El taller textil ens permet fer peces personalitzades amb petites tirades 10-12 unitats i a bon preu.<BR/>
    D'aquest manera, pràctica i senzilla, podrem fer i lluir les nostres peces del Club.<br/>
    <br>
    Ben aviat disposarem en obert de les grans rutes en moto per Catalunya i la llibreria complerta mutimedia pels socis.  
  </p>
  <%= link_to 'Fes les teves comandes ara mateix!', '/LaBotiga', class:'font-bold italic text-teal017' %>
  <hr class='border-lime-600 m-4'/>
</div>
<div>
  <p class="title-icon-1 my-6"><i class="fas fa-hand-holding-usd mr-4 text-teal017 text-4xl"></i><b>Les donacions!</b></p>
  <p class="leading-relaxed mb-6">Ens pots ajudar molt a mantenir les nostres activitats i millorar els nostres serveis fent una contribució econòmica a fons perdut.
    Hi han contribucions de diferents quanties en qualitat de patró o benefactor.
  </p>
  <%= link_to 'Fent-nos una aportació!', '/donations', class:'font-bold italic text-teal017' %>
  <hr class='border-lime-600 m-4'/>
</div>
</div>
</section>
