
<%= simple_form_for(@plan) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-group my-2">
      <%= f.input :product_id %>
    </div>
    <div class="form-group my-2">
      <%= f.input :nom %>
    </div>
    <div class="form-group my-2">
      <%= f.input :accesWeb %>
    </div>
    <div class="form-group my-2">
      <%= f.input :maxSortidesAny %>
    </div>
    <div class="form-group my-2">
      <%= f.input :preu %>
    </div>
    <div class="form-group my-2">
      <%= f.input :descompteInscripcions %>
    </div>
    <div class="form-group my-2">
      <%= f.input :detalls %>
    </div>
    <div class="form-group my-2">
      <%= f.input :codi %>
    </div>
    <div class="form-group my-2">
      <%= f.input :sku %>
    </div>
  </div>

  <div class="form-actions my-2">
    <%= f.button :submit %>
  </div>
<% end %>
