<div id="<%= dom_id plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= plan.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nom:</strong>
    <%= plan.nom %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Accesweb:</strong>
    <%= plan.accesWeb %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Maxsortidesany:</strong>
    <%= plan.maxSortidesAny %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preu:</strong>
    <%= plan.preu %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Descompteinscripcions:</strong>
    <%= plan.descompteInscripcions %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Detalls:</strong>
    <%= plan.detalls %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Codi:</strong>
    <%= plan.codi %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Sku:</strong>
    <%= plan.sku %>
  </p>

</div>
