<script src="https://hcaptcha.com/1/api.js" async defer></script>
<div class="w-full min-h-[100vh] flex items-center justify-center" style="background-image: url(<%= asset_path('FerdiBorreda.jpeg') %>); background-size: cover; background-position: center;">
  <div class="max-w-xl w-full mx-auto shadow-lg bg-gray-200/80 rounded-lg py-12 text-teal-600 my-4 opacity-[.90]">
    <div class='flex justify-center mb-4'>
      <%= image_tag("MRC250h.png", alt: "Mil Revolts", class: "ml-6 object-center mb-8 rounded-xs border-2 border-teal-400") %>
    </div>
    <h2 class="text-3xl mb-8 text-center font-bold"><i class="fas fa-user-plus mr-2"></i> Fes-te el teu compte</h2>
    <div class="w-3/4 mx-auto">
      <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f| %>
          <span class='text-xs text-red-600 font-bold border-1 px-1'><%= devise_error_messages! %></span>
          <%= f.hidden_field :plan_id, value: 1 %>
          <div class="field mb-2">
            <p class='mb-1 font-bold'>Nom:</p>
            <%= f.text_field :nom, autofocus: true, autocomplete: "nom", class: "w-full rounded-lg bg-lime-50 p-2" %>
          </div>
          <div class="field mb-2">
            <p class='mb-1 font-bold'>1er Cognom:</p>
            <%= f.text_field :cognom1, autofocus: true, autocomplete: "1er cognom", class: "w-full rounded-lg bg-lime-50 p-2" %>
          </div>
          <div class="field mb-2">
            <p class='mb-1 font-bold'>2n Cognom:</p>
            <%= f.text_field :cognom2, autofocus: true, autocomplete: "2n cognom", class: "w-full rounded-lg bg-lime-50 p-2" %>
          </div>
          <!-- avatar -->
          <div class="my-4" data-controller="file-validation"
               data-file-validation-max-size-value="3145728"
               data-file-validation-max-files-value="1"
               data-file-validation-allowed-types-value='["image/jpeg", "image/jpg", "image/png", "image/gif", "image/webp"]'
               data-file-validation-allowed-extensions-value='[".jpg", ".jpeg", ".png", ".gif", ".webp"]'>
            <p><%= f.label :la_teva_foto, class: "font-bold text-rose-700 text-sm bg-white bg-opacity-80 text-sm p-1 rounded-xs" %>
              <span class="text-red-500 text-xs font-bold italic bg-white bg-opacity-50 ml-2">La mida màxima de la foto és 3MB. Formats permesos: JPG, PNG, GIF, WebP.</span>
              <% if @user.avatar.persisted? && @user.avatar.attached? %>
                <%= image_tag @user.avatar, style: "width:50px;" %></p>
            <% end %>
            <div class="btn-sm">
              <%= f.file_field :avatar, autofocus: true, placeholder: "La teva foto",
                               data: {
                                 "file-validation-target": "input",
                                 action: "change->file-validation#validate"
                               },
                               accept: "image/jpeg,image/jpg,image/png,image/gif,image/webp" %>
            </div>
            <div data-file-validation-target="error" class="hidden"></div>
            <div data-file-validation-target="preview" class="mt-2"></div>
          </div>
          <!-- ./avatar -->
          <br/>
          <div class="field mb-2">
            <p class='mb-1 font-bold'>Marca moto:</p>
            <%= f.text_field :moto_marca, autofocus: true, autocomplete: "Marca de la moto", class: "w-full rounded-lg bg-lime-50 p-2" %>
          </div>
          <div class="field mb-2">
            <p class='mb-1 font-bold'>Marca model:</p>
            <%= f.text_field :moto_model, autofocus: true, autocomplete: "Model de la moto", class: "w-full rounded-lg bg-lime-50 p-2" %>
          </div>
          <!-- foto_moto -->
          <div class="my-4" data-controller="file-validation"
               data-file-validation-max-size-value="3145728"
               data-file-validation-max-files-value="1"
               data-file-validation-allowed-types-value='["image/jpeg", "image/jpg", "image/png", "image/gif", "image/webp"]'
               data-file-validation-allowed-extensions-value='[".jpg", ".jpeg", ".png", ".gif", ".webp"]'>
            <p><%= f.label :foto_de_la_teva_moto, class: "font-bold text-rose-700 text-sm bg-white bg-opacity-80 text-sm p-1 rounded-xs" %>
              <span class="text-red-500 text-xs font-bold italic bg-white bg-opacity-50 ml-2">La mida màxima de la foto és 3MB. Formats permesos: JPG, PNG, GIF, WebP.</span>
              <% if @user.foto_moto.persisted? && @user.foto_moto.attached? %>
                <%= image_tag @user.foto_moto, style: "width:50px;" %></p>
            <% end %>
            <div class="btn-sm">
              <%= f.file_field :foto_moto, autofocus: true, placeholder: "Foto de la teva moto",
                               data: {
                                 "file-validation-target": "input",
                                 action: "change->file-validation#validate"
                               },
                               accept: "image/jpeg,image/jpg,image/png,image/gif,image/webp" %>
            </div>
            <div data-file-validation-target="error" class="hidden"></div>
            <div data-file-validation-target="preview" class="mt-2"></div>
          </div>
          <!-- ./foto_moto -->
          <br/>
          <!-- -->
          <div class="field">
            <p class='mb-1 font-bold mr-3'>Provìncia:</p>
            <%= f.select :provincia, options_for_select(['Select', 'Barcelona', 'Girona', 'Lleida', 'Tarragona']), {}, { id: 'provincia-select' } %>
          </div>
          <div class="field">
            <p class='mb-1 font-bold mr-3'>Comarca:</p>
            <%= f.select :comarca, [], {}, { id: 'comarca-select' } %>
          </div>
          <div class="field">
            <p class='mb-1 font-bold mr-3'>Municipi:</p>
            <%= f.select :municipi, [], {}, { id: 'municipi-select' } %>
          </div>
          <script>
            const comarques = {
              'Barcelona': ['Alt Penedès', 'Anoia', 'Bages', 'Baix Llobregat', 'Barcelonès', 'Berguedà', 'Garraf', 'Maresme', 'Moianès', 'Osona', 'Vallès Occidental', 'Vallès Oriental'],
              'Girona': ['Alt Empordà', 'Baix Empordà', 'Cerdanya', 'Garrotxa', 'Gironès', 'Pla de l\'Estany', 'Ripollès', 'Selva'],
              'Lleida': ['Alt Urgell', 'Alta Ribagorça', 'Garrigues', 'Noguera', 'Pallars Jussà', 'Pallars Sobirà', 'Pla d\'Urgell', 'Segarra', 'Segrià', 'Solsonès', 'Urgell', 'Vall d\'Aran'],
              'Tarragona': ['Alt Camp', 'Baix Camp', 'Baix Ebre', 'Baix Penedès', 'Conca de Barberà', 'Montsià', 'Priorat', 'Ribera d\'Ebre', 'Tarragonès', 'Terra Alta']
            };

            const municipis = {
              'Alt Penedès': [
                'Vilafranca del Penedès', 'Sant Sadurní d\'Anoia', 'Avinyonet del Penedès', 'Les Cabanyes', 'Castellet i la Gornal',
                'Castellví de la Marca', 'Font-rubí', 'Gelida', 'Granada, la', 'Mediona', 'Olèrdola', 'Olesa de Bonesvalls',
                'Pacs del Penedès', 'Pla del Penedès, el', 'Pontons', 'Puigdàlber', 'Sant Cugat Sesgarrigues', 'Sant Llorenç d’Hortons',
                'Sant Martí Sarroca', 'Sant Pere de Riudebitlles', 'Sant Quintí de Mediona', 'Santa Fe del Penedès',
                'Santa Margarida i els Monjos', 'Subirats', 'Torrelavit', 'Torrelles de Foix', 'Vilobí del Penedès'
              ],
              'Anoia': [
                'Argençola', 'Bellprat', 'Bruc, el', 'Cabrera d’Anoia', 'Calaf', 'Calonge de Segarra', 'Capellades', 'Carme',
                'Castellfollit de Riubregós', 'Castellolí', 'Copons', 'Hostalets de Pierola, els', 'Igualada', 'Jorba', 'Llacuna, la',
                'Masquefa', 'Montmaneu', 'Òdena', 'Orpí', 'Piera', 'Pobla de Claramunt, la', 'Prats de Rei, els', 'Pujalt', 'Rubió',
                'Sant Martí de Tous', 'Sant Martí Sesgueioles', 'Sant Pere Sallavinera', 'Santa Margarida de Montbui',
                'Santa Maria de Miralles', 'Torre de Claramunt, la', 'Vallbona d’Anoia', 'Veciana', 'Vilanova del Camí'
              ],
              'Bages': [
                'Aguilar de Segarra', 'Artés', 'Avinyó', 'Balsareny', 'Callús', 'Cardona', 'Castellbell i el Vilar',
                'Castellfollit del Boix', 'Castellgalí', 'Castellnou de Bages', 'Fonollosa', 'Gaià', 'Manresa', 'Marganell',
                'Monistrol de Montserrat', 'Mura', 'Navarcles', 'Navàs', 'Pont de Vilomara i Rocafort, el', 'Rajadell', 'Sallent',
                'Sant Feliu Sasserra', 'Sant Fruitós de Bages', 'Sant Joan de Vilatorrada', 'Sant Mateu de Bages',
                'Sant Salvador de Guardiola', 'Sant Vicenç de Castellet', 'Santpedor', 'Súria', 'Talamanca'
              ],
              'Baix Llobregat': [
                'Abrera', 'Begues', 'Castelldefels', 'Castellví de Rosanes', 'Cervelló', 'Collbató', 'Corbera de Llobregat',
                'Cornellà de Llobregat', 'Esparreguera', 'Esplugues de Llobregat', 'Gavà', 'Martorell', 'Molins de Rei',
                'Olesa de Montserrat', 'Pallejà', 'Palma de Cervelló, la', 'Papiol, el', 'Prat de Llobregat, el', 'Sant Andreu de la Barca',
                'Sant Boi de Llobregat', 'Sant Climent de Llobregat', 'Sant Esteve Sesrovires', 'Sant Feliu de Llobregat',
                'Sant Joan Despí', 'Sant Just Desvern', 'Sant Vicenç dels Horts', 'Santa Coloma de Cervelló', 'Torrelles de Llobregat',
                'Vallirana', 'Viladecans'
              ],
              'Barcelonès': [
                'Badalona', 'Barcelona', 'Hospitalet de Llobregat, l\'', 'Sant Adrià de Besòs', 'Santa Coloma de Gramenet'
              ],
              'Berguedà': [
                'Avià', 'Bagà', 'Berga', 'Borredà', 'Capolat', 'Casserres', 'Castell de l’Areny', 'Castellar de n’Hug',
                'Castellar del Riu', 'Cercs', 'Espunyola, l\'', 'Fígols', 'Gironella', 'Gisclareny', 'Guardiola de Berguedà',
                'Montclar', 'Montmajor', 'Nou de Berguedà, la', 'Olvan', 'Pobla de Lillet, la', 'Puig-reig', 'Quar, la', 'Sagàs',
                'Saldes', 'Sant Jaume de Frontanyà', 'Sant Julià de Cerdanyola', 'Santa Maria de Merlès', 'Vallcebre', 'Vilada',
                'Viver i Serrateix'
              ],
              'Garraf': [
                'Canyelles', 'Cubelles', 'Olivella', 'Sant Pere de Ribes', 'Sitges', 'Vilanova i la Geltrú'
              ],
              'Lluçanès': [
                'Alpens', 'Lluçà', 'Olost', 'Oristà', 'Perafita', 'Prats de Lluçanès', 'Sant Martí d’Albars', 'Sobremunt'
              ],
              'Maresme': [
                'Alella', 'Arenys de Mar', 'Arenys de Munt', 'Argentona', 'Cabrera de Mar', 'Cabrils', 'Caldes d’Estrac', 'Calella',
                'Canet de Mar', 'Dosrius', 'Malgrat de Mar', 'Masnou, el', 'Mataró', 'Montgat', 'Òrrius', 'Palafolls', 'Pineda de Mar',
                'Premià de Dalt', 'Premià de Mar', 'Sant Andreu de Llavaneres', 'Sant Cebrià de Vallalta', 'Sant Iscle de Vallalta',
                'Sant Pol de Mar', 'Sant Vicenç de Montalt', 'Santa Susanna', 'Teià', 'Tiana', 'Tordera', 'Vilassar de Dalt',
                'Vilassar de Mar'
              ],
              'Moianès': [
                'Calders', 'Castellcir', 'Castellterçol', 'Collsuspina', 'Estany, l\'', 'Granera', 'Moià', 'Monistrol de Calders',
                'Sant Quirze Safaja', 'Santa Maria d’Oló'
              ],
              'Osona': [
                'Balenyà', 'Brull, el', 'Calldetenes', 'Centelles', 'Esquirol, l\'', 'Folgueroles', 'Gurb', 'Malla', 'Manlleu',
                'Masies de Roda, les', 'Masies de Voltregà, les', 'Montesquiu', 'Muntanyola', 'Orís', 'Roda de Ter', 'Rupit i Pruit',
                'Sant Agustí de Lluçanès', 'Sant Bartomeu del Grau', 'Sant Boi de Lluçanès', 'Sant Hipòlit de Voltregà',
                'Sant Julià de Vilatorta', 'Sant Martí de Centelles', 'Sant Pere de Torelló', 'Sant Quirze de Besora',
                'Sant Sadurní d’Osormort', 'Sant Vicenç de Torelló', 'Santa Cecília de Voltregà', 'Santa Eugènia de Berga',
                'Santa Eulàlia de Riuprimer', 'Santa Maria de Besora', 'Seva', 'Sora', 'Taradell', 'Tavèrnoles', 'Tavertet', 'Tona',
                'Torelló', 'Vic', 'Vilanova de Sau'
              ],
              'Vallès Occidental': [
                'Badia del Vallès', 'Barberà del Vallès', 'Castellar del Vallès', 'Castellbisbal', 'Cerdanyola del Vallès', 'Gallifa',
                'Matadepera', 'Montcada i Reixac', 'Palau-solità i Plegamans', 'Polinyà', 'Rellinars', 'Ripollet', 'Rubí', 'Sabadell',
                'Sant Cugat del Vallès', 'Sant Llorenç Savall', 'Sant Quirze del Vallès', 'Santa Perpètua de Mogoda', 'Sentmenat',
                'Terrassa', 'Ullastrell', 'Vacarisses', 'Viladecavalls'
              ],
              'Vallès Oriental': [
                'Aiguafreda', 'Ametlla del Vallès, l\'', 'Bigues i Riells del Fai', 'Caldes de Montbui', 'Campins', 'Canovelles',
                'Cànoves i Samalús', 'Cardedeu', 'Figaró-Montmany', 'Fogars de Montclús', 'Franqueses del Vallès, les', 'Garriga, la',
                'Granollers', 'Gualba', 'Llagosta, la', 'Lliçà d’Amunt', 'Lliçà de Vall', 'Llinars del Vallès', 'Martorelles',
                'Mollet del Vallès', 'Montmeló', 'Montornès del Vallès', 'Montseny', 'Parets del Vallès', 'Roca del Vallès',
                'Sant Antoni de Vilamajor', 'Sant Celoni', 'Sant Esteve de Palautordera', 'Sant Feliu de Codines',
                'Sant Fost de Campsentelles', 'Sant Pere de Vilamajor', 'Santa Eulàlia de Ronçana', 'Santa Maria de Martorelles',
                'Santa Maria de Palautordera', 'Tagamanent', 'Vallgorguina', 'Vallromanes', 'Vilalba Sasserra', 'Vilanova del Vallès'
              ],
              'Alt Empordà': ['Figueres', 'Roses', 'Agullana', 'Aiguamúrcia', 'Albanyà', 'Albons', 'Avinyonet de Puigventós', 'Bàscara', 'Biure', 'Boadella i les Escaules', 'Borrassà', 'Cabanelles', 'Cabanes', 'Cadaqués', 'Cantallops', 'Capmany', 'Castelló d\'Empúries', 'Cistella', 'Colera', 'Darnius', 'Espolla', 'Far d\'Empordà, el', 'Garriguella', 'Jonquera, la', 'Lladó', 'Llançà', 'Llers', 'Maçanet de Cabrenys', 'Masarac', 'Mollet de Peralada', 'Navata', 'Ordis', 'Palau de Santa Eulàlia', 'Palau-saverdera', 'Pau', 'Pedret i Marzà', 'Peralada', 'Pont de Molins', 'Pontós', 'Portbou', 'Rabós', 'Riumors', 'Sant Climent Sescebes', 'Sant Llorenç de la Muga', 'Sant Miquel de Fluvià', 'Sant Mori', 'Sant Pere Pescador', 'Santa Llogaia d\'Àlguema', 'Saus, Camallera i Llampaies', 'Selva de Mar, la', 'Siurana', 'Terrades', 'Torroella de Fluvià', 'Vajol, la', 'Ventalló', 'Vila-sacra', 'Vilabertran', 'Viladamat', 'Vilafant', 'Vilajuïga', 'Vilamacolum', 'Vilamalla', 'Vilamaniscle', 'Vilanant'
              ],
              'Baix Empordà': ['Palafrugell', 'Sant Feliu de Guíxols', 'Begur', 'Bellcaire d\'Empordà', 'Bisbal d\'Empordà, la', 'Calonge i Sant Antoni', 'Colomers', 'Corçà', 'Cruïlles, Monells i Sant Sadurní de l\'Heura', 'Foixà', 'Fontanilles', 'Forallac', 'Garrigoles', 'Gualta', 'Jafre', 'Mont-ras', 'Palamós', 'Palau-sator', 'Parlavà', 'Pals', 'Regencós', 'Rupià', 'Serra de Daró', 'Tallada d\'Empordà, la', 'Torrent', 'Torroella de Montgrí', 'Ullà', 'Ullastret', 'Vall-llobrega', 'Verges', 'Vilopriu'
              ],
              'Cerdanya': ['Puigcerdà', 'Bellver de Cerdanya', 'Alp', 'Bolvir', 'Das', 'Fontanals de Cerdanya', 'Ger', 'Guils de Cerdanya', 'Isòvol', 'Lles de Cerdanya', 'Llívia', 'Meranges', 'Montellà i Martinet', 'Prats i Sansor', 'Prullans', 'Riu de Cerdanya', 'Urús'
              ],
              'Garrotxa': ['Olot', 'Besalú', 'Argelaguer', 'Beuda', 'Castellfollit de la Roca', 'Maià de Montcal', 'Mieres', 'Montagut i Oix', 'Sales de Llierca', 'Sant Aniol de Finestres', 'Sant Feliu de Pallerols', 'Sant Ferriol', 'Sant Jaume de Llierca', 'Sant Joan les Fonts', 'Santa Pau', 'Tortellà', 'Vall de Bianya, la', 'Vall d\'en Bas, la'
              ],
              'Gironès': ['Girona', 'Salt', 'Aiguaviva', 'Bescanó', 'Bordils', 'Campllong', 'Canet d\'Adri', 'Cassà de la Selva', 'Celrà', 'Flaçà', 'Fornells de la Selva', 'Juià', 'Llagostera', 'Llambilles', 'Madremanya', 'Quart', 'Sant Andreu Salou', 'Sant Gregori', 'Sant Julià de Ramis', 'Sant Martí Vell', 'Sant Martí de Llémena', 'Sarrià de Ter', 'Vilablareix'
              ],
              'Pla de l\'Estany': ['Banyoles', 'Porqueres', 'Camós', 'Cornellà del Terri', 'Crespià', 'Esponellà', 'Fontcoberta', 'Palol de Revardit', 'Sant Miquel de Campmajor', 'Serinyà', 'Vilademuls'
              ],
              'Ripollès': ['Ripoll', 'Sant Joan de les Abadesses', 'Campdevànol', 'Camprodon', 'Gombrèn', 'Llanars', 'Molló', 'Ogassa', 'Pardines', 'Planoles', 'Queralbs', 'Ribes de Freser', 'Sant Pau de Segúries', 'Setcases', 'Toses', 'Vallfogona de Ripollès', 'Vilallonga de Ter'
              ],
              'Selva': ['Amer', 'Anglès', 'Arbúcies', 'Blanes', 'Breda', 'Brunyola i Sant Martí Sapresa', 'Caldes de Malavella', 'Cellera de Ter, la', 'Fogars de la Selva', 'Hostalric', 'Lloret de Mar', 'Maçanet de la Selva', 'Massanes', 'Osor', 'Riells i Viabrea', 'Riudarenes', 'Riudellots de la Selva', 'Sant Feliu de Buixalleu', 'Sant Hilari Sacalm', 'Sant Julià del Llor i Bonmatí', 'Santa Coloma de Farners', 'Sils', 'Susqueda', 'Tossa de Mar', 'Vidreres', 'Vilobí d\'Onyar'
              ],
              'Alt Urgell': ['La Seu d\'Urgell', 'Oliana', 'Arsèguel', 'Bassella', 'Cabó', 'Cava', 'Coll de Nargó', 'Estamariu', 'Fígols i Alinyà', 'Josa i Tuixén', 'Montferrer i Castellbò', 'Organyà', 'Peramola', 'Ribera d\'Urgellet', 'Valls d\'Aguilar, les', 'Valls de Valira, les', 'Vansa i Fórnols, la'
              ],
              'Alta Ribagorça': ['El Pont de Suert', 'Vilaller', 'Vall de Boí, la'
              ],
              'Garrigues': ['Les Borges Blanques', 'Juneda', 'Arbeca', 'Bellaguarda', 'Bovera', 'Cervià de les Garrigues', 'Castelldans', 'Cogul, el', 'Espluga Calba, l\'', 'Floresta, la', 'Fulleda', 'Granyena de les Garrigues', 'Juncosa', 'L\'Albagés', 'L\'Albi', 'L\'Espluga de Francolí', 'L\'Espluga de Serra'
              ],
              'Noguera': ['Balaguer', 'Àger', 'Albesa', 'Algerri', 'Alòs de Balaguer', 'Artesa de Segre', 'Baronia de Rialb, la', 'Bellcaire d\'Urgell', 'Bellmunt d\'Urgell', 'Cabanabona', 'Castelló de Farfanya', 'Cubells', 'Foradada', 'Ivars de Noguera', 'Menàrguens', 'Montgai', 'Os de Balaguer', 'Penelles', 'Ponts', 'Preixens', 'Térmens', 'Tiurana', 'Torrelameu', 'Vallfogona de Balaguer', 'Vilanova de Meià', 'Vilanova de l\'Aguda'
              ],
              'Pallars Jussà': ['Tremp', 'La Pobla de Segur', 'Abella de la Conca', 'Conca de Dalt', 'Gavet de la Conca', 'Isona i Conca Dellà', 'Llimiana', 'Salàs de Pallars', 'Sant Esteve de la Sarga', 'Sarroca de Bellera', 'Senterada', 'Talarn', 'Torre de Capdella, la'
              ],
              'Pallars Sobirà': ['Sort', 'Rialp', 'Alins', 'Alt Àneu', 'Baix Pallars', 'Espot', 'Esterri d\'Àneu', 'Esterri de Cardós', 'Farrera', 'Guingueta d\'Àneu, la', 'Llavorsí', 'Soriguera', 'Tírvia', 'Vall de Cardós'
              ],
              'Pla d\'Urgell': ['Mollerussa', 'Bell-lloc d\'Urgell', 'Barbens', 'Castellnou de Seana', 'Fondarella', 'Golmés', 'Ivars d\'Urgell', 'Linyola', 'Miralcamp', 'Palau d\'Anglesola, el', 'Poal, el', 'Sidamon', 'Torregrossa', 'Vilanova de Bellpuig', 'Vila-sana'
              ],
              'Segarra': ['Cervera', 'Guissona', 'Biosca', 'Estaràs', 'Granyanella', 'Granyena de Segarra', 'Massoteres', 'Montoliu de Segarra', 'Montornès de Segarra', 'Oluges, les', 'Plans de Sió, els', 'Ribera d\'Ondara', 'Sant Guim de Freixenet', 'Sant Ramon', 'Sanaüja', 'Talavera', 'Tarroja de Segarra', 'Torà'
              ],
              'Segrià': ['Lleida', 'Alcarràs', 'Aitona', 'Albatàrrec', 'Alcanó', 'Alfarràs', 'Alfés', 'Alguaire', 'Almacelles', 'Almatret', 'Almenar', 'Alpicat', 'Artesa de Lleida', 'Aspa', 'Benavent de Segrià', 'Corbins', 'Gimenells i el Pla de la Font', 'Llardecans', 'Maials', 'Massalcoreig', 'Montoliu de Lleida', 'Puigverd de Lleida', 'Sarroca de Lleida', 'Seròs', 'Soses', 'Sudanell', 'Sunyer', 'Torrebesses', 'Torrefarrera', 'Torres de Segre', 'Vilanova de Segrià', 'Vila-sana'
              ],
              'Solsonès': ['Solsona', 'Sant Llorenç de Morunys', 'Castellar de la Ribera', 'Clariana de Cardener', 'Lladurs', 'Llobera', 'La Molsosa', 'Navès', 'Odèn', 'Olius', 'Pinell de Solsonès', 'Pinós', 'Riner', 'La Coma i la Pedra'
              ],
              'Urgell': ['Tàrrega', 'Agramunt', 'Anglesola', 'Bellpuig', 'Castellserà', 'Ciutadilla', 'Guimerà', 'Maldà', 'Belianes', 'Preixana', 'Sant Martí de Riucorb', 'Verdú', 'Vila-sana'
              ],
              'Vall d\'Aran': ['Vielha e Mijaran', 'Naut Aran', 'Arres', 'Bausen', 'Bossòst', 'Es Bòrdes', 'Les', 'Vilamòs', 'Vilac'
              ],
              'Alt Camp': ['Aiguamúrcia','Alcover','Alió','Bràfim','Cabra del Camp','Figuerola del Camp','Garidells, els','Masó, la','Milà, el','Montferri','Mont-ral','Nulles','Pla de Santa Maria, el','Pont d\'Armentera, el','Puigpelat','Querol','Riba, la','Rodonyà','Rourell, el','Vallmoll','Valls','Vilabella','Vila-rodona'
              ],
              'Baix Camp': ['Reus', 'Cambrils', 'Mont-roig del Camp', 'Vandellòs i l\'Hospitalet de l\'Infant', 'Riudoms', 'Vinyols i els Arcs', 'Les Borges del Camp', 'Alforja', 'Botarell', 'Castellvell del Camp', 'Duesaigües', 'L\'Aleixar', 'L\'Argentera', 'L\'Espluga de Francolí', 'La Febró', 'La Selva del Camp', 'L\'Aleixar', 'Maspujols', 'Montbrió del Camp', 'Prades', 'Riudecanyes', 'Riudecols', 'Vilanova d\'Escornalbou'
              ],
              'Baix Ebre': ['Tortosa', 'L\'Aldea', 'L\'Ampolla', 'Camarles', 'Deltebre', 'Paüls', 'Roquetes', 'Tivenys', 'Xerta', 'Benifallet', 'El Perelló', 'Freginals', 'Godall', 'Masdenverge', 'Santa Bàrbara'
              ],
              'Baix Penedès': ['El Vendrell', 'Calafell', 'Cunit', 'L\'Arboç', 'Bellvei', 'Banyeres del Penedès', 'Llorenç del Penedès', 'Sant Jaume dels Domenys', 'Santa Oliva', 'La Bisbal del Penedès', 'Albinyana', 'Bonastre', 'Masllorenç'
              ],
              'Conca de Barberà': ['Montblanc', 'Santa Coloma de Queralt', 'Barberà de la Conca', 'Blancafort', 'Conesa', 'L\'Espluga de Francolí', 'Forès', 'Llorac', 'Passanant i Belltall', 'Pira', 'Pontils', 'Rocafort de Queralt', 'Sarral', 'Savallà del Comtat', 'Senan', 'Solivella', 'Vallclara', 'Vallfogona de Riucorb', 'Vilanova de Prades', 'Vilaverd'
              ],
              'Montsià': [ 'Amposta', 'Alcanar', 'Freginals', 'Godall', 'La Galera', 'Masdenverge', 'Mas de Barberans', 'Santa Bàrbara','Sant Carles de la Ràpita','Ulldecona'
              ],
              'Priorat': ['Falset', 'Gratallops', 'Bellmunt del Priorat', 'Bisbal de Falset', 'Cabacés', 'Capçanes', 'Cornudella de Montsant', 'La Figuera', 'La Morera de Montsant', 'La Vilella Alta', 'La Vilella Baixa', 'Lloar', 'Margalef', 'Marçà', 'Poboleda', 'Porrera', 'Pradell de la Teixeta', 'Torroja del Priorat', 'Ulldemolins'
              ],
              'Ribera d\'Ebre': ['Móra d\'Ebre', 'Flix', 'Ascó', 'Benissanet', 'Ginestar', 'Miravet', 'Móra la Nova', 'Rasquera', 'Riba-roja d\'Ebre', 'Tivissa', 'La Torre de l\'Espanyol', 'Vinebre'
              ],
              'Tarragonès': ['Tarragona', 'Salou', 'Altafulla', 'Constantí', 'Creixell', 'El Catllar', 'La Canonja', 'La Nou de Gaià', 'La Pobla de Mafumet', 'La Pobla de Montornès', 'Perafort', 'Els Pallaresos', 'Roda de Berà', 'Salomó', 'Torredembarra', 'Vespella de Gaià', 'Vila-seca', 'Vilallonga del Camp'
              ],
              'Terra Alta': ['Gandesa', 'Batea', 'Arnes', 'Bot', 'Caseres', 'Corbera d\'Ebre', 'La Fatarella', 'Horta de Sant Joan', 'Pinell de Brai', 'Prat de Comte', 'Vilalba dels Arcs'
              ],
            };

            document.getElementById('provincia-select').addEventListener('change', function() {
              const provincia = this.value;
              const comarcaSelect = document.getElementById('comarca-select');
              const municipiSelect = document.getElementById('municipi-select');

              // Clear previous options
              comarcaSelect.innerHTML = '';
              municipiSelect.innerHTML = '';

            // Populate comarca options
            if (comarques[provincia]) {
              const defaultOption = document.createElement('option');
              defaultOption.value = '';
              defaultOption.text = 'Select Comarca';
              comarcaSelect.appendChild(defaultOption);

              comarques[provincia].forEach(function(comarca) {
                const option = document.createElement('option');
                option.value = comarca;
                option.text = comarca;
                comarcaSelect.appendChild(option);
              });
            }

            // Add initial blank value for municipi
            const defaultMunicipiOption = document.createElement('option');
            defaultMunicipiOption.value = '';
            defaultMunicipiOption.text = 'Select Municipi';
            municipiSelect.appendChild(defaultMunicipiOption);
                      });

                      document.getElementById('comarca-select').addEventListener('change', function() {
            const comarca = this.value;
            const municipiSelect = document.getElementById('municipi-select');

            // Clear previous options
            municipiSelect.innerHTML = '';

            // Populate municipi options
            if (municipis[comarca]) {
              const defaultOption = document.createElement('option');
              defaultOption.value = '';
              defaultOption.text = 'Select Municipi';
              municipiSelect.appendChild(defaultOption);

              municipis[comarca].forEach(function(municipi) {
                const option = document.createElement('option');
                option.value = municipi;
                option.text = municipi;
                municipiSelect.appendChild(option);
              });
            }
                      });
          </script>
          <!-- -->
          <br/>
          <div class="field mb-2">
            <p class='mb-1 font-bold'>Data de naixement:</p>
            <%= f.date_select :data_naixement, start_year: 1940, end_year: Date.today.year, class: "w-full rounded-lg bg-lime-50" %>
          </div>
          <div class="field my-4">
            <p class='mb-1 font-bold'>Curta presentaciÓ com a motorista:</p>
            <%= f.text_area :presentacio, class: "w-full rounded-lg bg-lime-50 p-2", rows: 6 %>
          </div>
          <div class="bg-teal-100 p-6 border-2 border-teal-500 rounded-lg mt-6 py-4">
            <div style='color:teal; text-align: center;'><b>Àrea privada:</b></div>
            <div class="field mb-2">
              <p class='mb-1 font-bold'>Mòbil:</p>
              <%= f.text_field :mobil, autofocus: true, autocomplete: "Mòbil", class: "w-full rounded-lg bg-lime-50 p-2" %>
            </div>
            <div class="field mb-2">
              <p class='mb-1 font-bold'>Correu electrònic:</p>
              <%= f.text_field :email, autofocus: true, autocomplete: "Email", class: "w-full rounded-lg bg-lime-50 p-2" %>
            </div>
            <div class="field mb-2">
              <p class='mb-1 font-bold'>Clau:</p>
              <%= f.password_field :password, autofocus: true, autocomplete: "Password", class: "w-full rounded-lg bg-lime-50 p-2" %>
            </div>
            <div class="field mb-2">
              <p class='mb-1 font-bold'>Confirma la clau:</p>
              <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "Password confirmed", class: "w-full rounded-lg bg-lime-50 p-2" %>
            </div>
          </div>
          <div class="p-2 border-2 border-gray-600 rounded-lg mt-6 text-gray-800 text-sm">
            <h1 class="mt-2 mb-4 text-xl text-center font-bold">Experiència motorista</h1>
            <%= f.fields_for :puntsini do |survey_form| %>
              <div class="my-2 flex items-center">
                <%= survey_form.label :tipus_carnet, "Tipus de carnet?", class: "font-bold mr-3" %>
                <%= survey_form.select :tipus_carnet, options_for_select([['AM', 1], ['A1', 2], ['A2', 3], ['A', 4]]), class: "grow" %>
              </div>
              <div class="my-2 flex items-center">
                <%= survey_form.label :anys_carnet, "Anys de carnet?", class: "font-bold mr-3" %>
                <%= survey_form.select :anys_carnet, options_for_select([['<1', 1], ['<5', 2], ['<10', 3], ['<50', 4], ['>50', 5]]), class: "grow" %>
              </div>
              <div class="my-2 flex items-center">
                <%= survey_form.label :kms, "Quilòmetres fets en moto aprox.?", class: "font-bold mr-3" %>
                <%= survey_form.select :kms, options_for_select([['<25000', 1], ['<100000', 2], ['<250000', 3], ['>250000', 4]]), class: "grow" %>
              </div>
              <div class="my-2 flex items-center">
                <%= survey_form.label :num_sortides, "Quantes sortides i viatges has fet?", class: "font-bold mr-3" %>
                <%= survey_form.select :num_sortides, options_for_select([['<10', 1], ['<50', 2], ['<100', 3], ['<200', 4], ['>200', 5]]), class: "grow" %>
              </div>
              <div class="my-2 flex items-center">
                <%= survey_form.label :grau_esportiu, "Grau esportiu motociclista?", class: "font-bold mr-3" %>
                <%= survey_form.select :grau_esportiu, options_for_select([['No he estat federat?', 0], ['He competit?', 1], ['Competeixo', 2]]), class: "grow" %>
              </div>
            <% end %>
          </div>
          <!-- Terms of Use Agreement -->
          <div class="my-4 ml-2">
            <input type="checkbox" id="terms" name="terms" required>
            <label for="terms" class="text-gray-700 text-sm">
              Estic d'acord amb els <a href="/termes" target="_blank" class="text-teal-500 hover:text-teal-700">Termes d'us</a> i la <a href="/privacy" target="_blank" class="text-teal-500 hover:text-teal-700">Politica de Privacitat</a>.
            </label>
          </div>
          <div class="field flex justify-center py-4">
            <div class="h-captcha" data-sitekey="<%= hcaptcha_site_key %>"></div>
          </div>
          <div class="flex justify-center">
            <%= f.submit "Regístra't", class: "bg-teal-500 w-1/2 font-bold p-2 text-teal-100 rounded-lg cursor-pointer hover:bg-teal-700 hover:text-teal-300 mt-8" %>
          </div>
        <% end %>
      </div>
      <div class="flex flex-col items-center mt-4">
        <div class="text-center text-teal-500 mt-8 font-bold text-sm">
          Ja tens un compte?
          <a class="border-b text-teal-500" href="/users/sign_in">Entra</a>
        </div>
      </div>
    </div>
  </div>